{% load bootstrap3 %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'homepage' %}">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
مرجع متدلوژی‌های چابک
            </a>
        </div>
        <div class="nav navbar-nav">
            {% if user.is_authenticated %}
                <li class="active">
                    <a href="{% url 'accounts_edit' %}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>

                        ویرایش حساب کاربری
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'logout' %}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"/>

                        خروج
                    </a>
                </li>
            {% else %}
                <li class="active">
                    <a href="{% url 'login' %}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>

                        ورود
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'register' %}">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        ثبت نام
                    </a>
                </li>

            {% endif %}
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>
