{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">

                <div class="row-md-12">
                    <h1>
                        Shamma
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="row-md-12">
                    <p>
                        Agile Reference Sharing System
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    Welcome
    </div>
{% endblock %}
