{% extends 'base.html' %}
{% load comments %}

{% block content %}
    <div class="container">
        <div class="row">
            <h3>
                {{ object.name }}
                <a href="{{ object.url }}" class="btn btn-primary btn-small pull-right"> Link </a>
            </h3>

            <div class="well">
                {{ object.description | safe }}
            </div>
        </div>
        <div class="row">
            {% with object as reference %}
                <ul class="media-list">
                    {% include 'references/comment_list.html' %}
                </ul>
                {% include 'references/comment_form.html' %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
